/*catalogue.html*/

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: montserrat, sans serif;
	color: #19160d;
	text-align: center;
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: column;
}

.nav_icon {
	padding-right: 125px;
}

.hamburger {
	width: 26px;
	margin: 0 0 0 10px;
	padding: 0;
	display: none;
	float: left;
}

.top {
	background-color: #0d0a00;
	background-repeat: repeat;
	background-size: cover;
	margin-top: 0px;
	margin-bottom: 0px;
 	height: 37px;
 	position: relative;
 	align-content: center;

}

.top p {
	color: #ffffff;
	text-align: center;
	padding-top: 11px;
	margin: 0;
	font-size: 11px;

}

.icon {
	background-color: #0d0a00;
	background-repeat: repeat;
	background-size: cover;
	z-index: -1;
	width: 100%;
	height: 63px;
	position: absolute;
}

.nav_icon {
	padding-right: 114px;
	height: 63px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.icon img {
	margin-right: 9px;
	margin-left: 9px;
}

.icon_responsive {
	visibility: hidden;
	display: none;
}

.responsive_menu {
	visibility: hidden;
	display: none;
}

.logo {
	float: left;
	margin-left: 114px;
}


nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
}

nav li {
	padding-top: 107px;
	margin-right: 34px;
}

nav a {
	font-size: 11px;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #19160d;
}

.vente {
	height: 290px;
	background-color: #fafafa;
	padding: 0;
	position: relative;

}

.vente h1{
	padding-top: 69px

}

.vente p {
	height: 108px;
	width: 476px;
	margin: auto;
	line-height: 27px;
	letter-spacing: 0.5px;
	font-size: 16px;
}

.filter {
	height: 48px;
	text-transform: uppercase;

}

.filtrer {
	visibility: hidden;
	display: none;

}
.filter_flex {
	display: flex;
	align-items: center;
	height: 59px;
}

.filter_responsive {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 50px;
	visibility: hidden;
	display: none;
}


.filter p {
	font-size: 11px;
	margin-left: 99px;
}

.filter_choice {
	margin-right: 176px;
	flex: 2;
}


.filter_head {
	flex: 1;
}

label {
	visibility: hidden;
	display: none;
	text-align: right;
}
select {
	border-color: transparent;
	width: 89px;
	height: 16px;
	font-size: 12px;
	text-align-last: right;
	text-transform: uppercase;
	background-color: white;
}

option {
	font-size: 12px;
	font-family: Monserrat-Medium, sans serif;
	text-transform: uppercase
}

hr {
	color: #d2d6d9;
	height: 0.5px;
}

.under_filter {
	display: flex;
	align-items: center;
}

.title_filter {
	flex: 2;
}

.filter_by {
	margin-right: 176px;
}

.products_list {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.product {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 414px;
    height: 383px;
    text-align: center;
    margin-top: 28px;
    position: relative;
}

.product_description_flex {
	display: flex;
	flex-direction: column;

}

.like {
	height: 10px;
	width: 10px;
	margin-bottom: 35px;
	position: relative;
}

.product_description h1 {
	color: #19160d;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: normal;
}

.product_description h2 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 600;
}

.product_description h3 {
	font-size: 14px;
	color: #a7a7a7;
	font-weight: 300;
}

.product_description h4 {
	font-size: 16px;
    line-height: 1.88;
	color: #1a1709;
	font-weight: normal;
}


@media only screen and (max-width: 1009px){
	#page {
		width: auto;
	}

	.top {
		height: 31px;
	}

	.top p {
		font-size: 10px;
		font-weight: 500;
	}

	.icon {
		background-color: #ffffff;
		background-repeat: repeat;
		background-size: cover;
		height: 76px;
		margin: 0;
	}

	.icon_no_responsive {
		visibility: hidden;
		display: none;
	}

	.icon_responsive {
		visibility: initial;
		display: block;
	}

	.nav_icon {
		padding-right: 15px;
	}


	.logo {
		float: none;
		display: none;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		float: left;
		margin: 26px 17px;
		position: absolute;
	}

	.hamburger:checked + nav li {
		display: block;
		visibility: initial;
	}

	.responsive {
		visibility: initial;
		display: block;
	}


	.responsive_menu {
		visibility: initial;
		display: block;
		margin: auto;
	}

	.search {
		float: left;
		padding-left: 58px;
	}

	.logo_responsive {
		height: 76px;
	}

	nav ul {
		width: 50%;
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	nav li {
		width: auto;
		padding-top: 10px;
		margin: 0;
		display: none;
	}

	nav a {
		display: block;
		margin: 0;
		text-align: left;
	}

	.vente {
		height: 221px;
	}

	.vente h1 {
		margin: 0px;
		padding-top: 41px;
		font-size: 18px;
	}

	.vente p {
		width: 311px;
		height: 105px;
		font-size: 13px;
	}

	hr {
		visibility: hidden;
		display: none;
	}

	.filtrer {
		visibility: initial;
		display: inline-block;
		width: 163px;
		height: 43px;
		border-radius: 4px;
		border: solid 1px #969696;
		text-align-last: center;
	}

	.filter_responsive {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.filter_head,.filter_choice, .under_filter {
		visibility: hidden;
		display: none;
	}

}
